.dropdown-title {
  display: flex;
  justify-content: space-around;
  height: 47px;
  background: var(--main-color);
  color: var(--secondary-color);
}

h2 {
  font-weight: 400;
}

span {
  font-size: 30px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}
