.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 160px;
  color: $secondary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  img {
    margin: 0 auto 30px auto;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
}
