.container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 1.5em;
  background: #f6f6f6;
  border-radius: 25px;
}
.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
}
