.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 160px;
  color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.image {
  margin: 0 auto 30px auto;
}
.content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .copyright {
    font-size: 0.8em;
  }
}
