.banner {
  height: 223px;
  width: 100%;
  position: relative;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(75%);
}

@media screen and (max-width: 576px) {
  .banner {
    height: 150px;
  }
  .image {
    border-radius: 10px;
  }
}
